   <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro|Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/compiled.css">

    <!-- d3 JS -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="scripts/nv.d3.js"></script>
      <script src="scripts/tooltip.js"></script>
      <script src="scripts/utils.js"></script>
      <script src="scripts/nv-models/legend.js"></script>
      <script src="scripts/nv-models/axis.js"></script>
      <script src="scripts/nv-models/distribution.js"></script>
      <script src="scripts/nv-models/scatter.js"></script>
      <script src="scripts/nv-models/scatterChart.js"></script>
      <script src="scripts/d3-kickdata.js"></script>